doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Proyecto DRAW
    
    link(rel='stylesheet' href='/vendors/iconfonts/mdi/css/materialdesignicons.min.css')
    link(rel='stylesheet' href='/vendors/css/vendor.bundle.base.css')
    link(rel='stylesheet' href='/vendors/css/vendor.bundle.addons.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet' href='/css/dragable.css')
    link(rel='stylesheet' href='/css/login.css')
    link(rel='stylesheet' href='/css/style.css')
    link(rel='shortcut icon' href='/images/favicon.png')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' rel='stylesheet' )
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css' rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')  
    link(href='https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css' rel='stylesheet' )
    link(href='https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css' rel='stylesheet')


  body
    
    block content
    script(src='/vendors/js/vendor.bundle.base.js')
    script(src='/vendors/js/vendor.bundle.addons.js')    
    script(src='/js/off-canvas.js')
    script(src='/javascripts/modal.js')
    script(src='/js/misc.js')
    script(src='/js/chart.js')
    script(src='/javascripts/dist/vue.js')
    script(src='https://unpkg.com/vue-multiselect@2.1.0')
    script(src='/javascripts/app/main.js')
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script(src='/javascripts/drag.js') 
    script(src='https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js')    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    script(src='https://code.jquery.com/jquery-1.11.1.min.js')

  


    
  
    
