extends ../layout
block content
  .container-scroller
    nav.navbar.default-layout.col-lg-12.col-12.p-0.fixed-top.d-flex.flex-row
      .text-center.navbar-brand-wrapper.d-flex.align-items-top.justify-content-center
        a.navbar-brand.brand-logo(href='/home')
          strong SCRUMPage
        a.navbar-brand.brand-logo-mini(href='/')
          img(src='/images/logo-mini.svg' alt='logo')
      .navbar-menu-wrapper.d-flex.align-items-center

        ul.navbar-nav.navbar-nav-right
          li.nav-item.dropdown.d-none.d-xl-inline-block
            a#UserDropdown.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aria-expanded='false')
              span.profile-text Hola, Andres Hernandez!
              img.img-xs.rounded-circle(src='../../images/faces/face1.jpg' alt='Profile image')
            .dropdown-menu.dropdown-menu-right.navbar-dropdown(aria-labelledby='UserDropdown')
              a.dropdown-item.p-0
                .d-flex.border-bottom
                  .py-3.px-4.d-flex.align-items-center.justify-content-center
                    i.mdi.mdi-bookmark-plus-outline.mr-0.text-gray
                  .py-3.px-4.d-flex.align-items-center.justify-content-center.border-left.border-right
                    i.mdi.mdi-account-outline.mr-0.text-gray
                  .py-3.px-4.d-flex.align-items-center.justify-content-center
                    i.mdi.mdi-alarm-check.mr-0.text-gray
              a.dropdown-item.mt-2
                | Administrar cuentas
              a.dropdown-item
                | Cambiar contraseña
              a.dropdown-item
                | Revisar mensajes
              a.dropdown-item(href='/auth/logout')
                | Salir
        button.navbar-toggler.navbar-toggler-right.d-lg-none.align-self-center(type='button' data-toggle='offcanvas')
          span.mdi.mdi-menu

    .container-fluid.page-body-wrapper
      nav#sidebar.sidebar.sidebar-offcanvas
        ul.nav
          li.nav-item.nav-profile
            .nav-link
              .user-wrapper
                .profile-image
                  img(src='/images/faces/face1.jpg' alt='profile image')
                .text-wrapper
                  p.profile-name Andrés Hernández
                  div
                    small.designation.text-muted Manager
                    span.status-indicator.online
              button.btn.btn-success.btn-block(type='button' data-toggle='modal' data-target='#myModal')
                | Proyecto Nuevo
                i.mdi.mdi-plus
          li.nav-item
            a.nav-link(href='/team/Andres Hernandez/03-07-18/HEZA/HEZA970307/Calle Principal/JAVA-Junior')
              i.menu-icon.mdi.mdi-television
              span.menu-title Equipo de trabajo
          li.nav-item
            a.nav-link(href='/projects/DRAW/09-10-18/02-10-18/ProyectoMateriaDRAW/1/AndresHernandez/3')
              i.menu-icon.mdi.mdi-table
              span.menu-title Proyectos

      .main-panel
        .content-wrapper
          strong NOMBRE DEL PROYECTO
          .row
            .col-lg-6.grid-margin.stretch-card
              .card
                .card-body
                  h4.card-title Backlog
                  .table-responsive
                    table.table
                      thead
                        tr
                          th Tarea
                          th Prioridad
                          th Tiempo Est.
                          th Estado
                      tbody
                        tr
                          td Enlazar a la base de datos
                          td 4
                          td 1 hr
                          td
                            label.badge.badge-danger Pending
                        tr
                          td Creacion de tarjetas
                          td 5
                          td 10 hrs
                          td
                            label.badge.badge-danger Pending
                        tr
                          td Conectar con redes sociales
                          td 2
                          td 10 hrs.
                          td
                            label.badge.badge-danger Pending
                        tr
                          td Estimaciones de tiempo
                          td 2
                          td 8 hrs
                          td
                            label.badge.badge-danger Pending

            .col-lg-6.grid-margin.stretch-card
              .card
                .card-body
                  h4.card-title Sprint Backlog
                  .table-responsive
                    table.table
                      thead
                        tr
                          th Tarea
                          th Prioridad
                          th Tiempo Est.
                          th Estado
                      tbody
                        tr
                          td Conectar ventanas
                          td 5
                          td 1 hr
                          td
                            label.badge.badge-warning In progress
                        tr
                          td Diseño de formularios
                          td 2
                          td 2 hrs.
                          td
                            label.badge.badge-warning In progress
                        tr
                          td Mover tarjetas entre tablas
                          td 5
                          td 10 hrs.
                          td
                            label.badge.badge-warning In progress

            .col-lg-6.grid-margin.stretch-card
              .card
                .card-body
                  h4.card-title Sprint Backlog
                  .table-responsive
                    table.table
                      thead
                        tr
                          th Tarea
                          th Prioridad
                          th Tiempo Est.
                          th Estado
                      tbody
                        tr
                          td Vistas
                          td 3
                          td 10 hrs
                          td
                            label.badge.badge-success Completed
                        tr
                          td Controladores
                          td 3
                          td 10 hrs.
                          td
                            label.badge.badge-success Completed

        #myModal.modal(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                h5#exampleModalLabel.modal-title Crear proyecto
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                  span(aria-hidden='true') &times;
              .modal-body
                form
                  .form-group
                    label.col-form-label(for='recipient-name') Nombre del proyecto:
                    input#recipient-name.form-control(type='text')
                  .form-group
                    label.col-form-label(for='recipient-name') Fecha de solicitud del proyecto:
                    input#recipient-name.form-control(type='date')
                  .form-group
                    label.col-form-label(for='recipient-name') Fecha de arranque del proyecto:
                    input#recipient-name.form-control(type='date')
                  .form-group
                    label.col-form-label(for='message-text') Descripcion del proyecto:
                    textarea#message-text.form-control
                  .form-group
                    label.col-form-label(for='recipient-name') Scrum master:
                    input#recipient-name.form-control(type='text')
                  .form-group
                    label.col-form-label(for='recipient-name') Product Owner:
                    input#recipient-name.form-control(type='text')
                  .form-group
                    label.col-form-label(for='recipient-name') Equipo de desarrollo:
                    input#recipient-name.form-control(type='text')
              .modal-footer
                button.btn.btn-secondary(type='button' data-dismiss='modal') Cerrar
                button.btn.btn-primary(type='button') Crear

        footer.footer
          .container-fluid.clearfix
            span.text-muted.d-block.text-center.text-sm-left.d-sm-inline-block
              | Copyright &copy; 2018
              a(href='http://www.bootstrapdash.com/' target='_blank') Bootstrapdash
              | . All rights reserved.
            span.float-none.float-sm-right.d-block.mt-1.mt-sm-0.text-center
              | Hand-crafted &amp; made with
              i.mdi.mdi-heart.text-danger

  script(src='../../vendors/js/vendor.bundle.base.js')
  script(src='../../vendors/js/vendor.bundle.addons.js')
  script(src='../../js/off-canvas.js')
  script(src='../../js/misc.js')
