extends ../layout
block content
  section.login-block
    .container
      .row
        .col-md-4.login-sec
          h2.text-center Iniciar sesión
          form.login-form
            .form-group
              label.text-uppercase(for='exampleInputEmail1') Usuario
              input.form-control(type='text' placeholder='')
            .form-group
              label.text-uppercase(for='exampleInputPassword1') Contraseña
              input.form-control(type='password' placeholder='')
            .form-check
              button.btn.btn-login.float-right(type='submit') Ingresar
              br
            a.fa.fa-facebook(href='/auth/facebook')
            a.fa.fa-twitter(href='/auth/twitter')
            a.fa.fa-google(href='/auth/google')
        .col-md-8.banner-sec
          #carouselExampleIndicators.carousel.slide(data-ride='carousel')
            ol.carousel-indicators
              li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
              li(data-target='#carouselExampleIndicators' data-slide-to='1')
              li(data-target='#carouselExampleIndicators' data-slide-to='2')
            .carousel-inner(role='listbox')
              .carousel-item.active
                img.d-block.img-fluid(src='https://static.pexels.com/photos/33972/pexels-photo.jpg' alt='First slide')
                .carousel-caption.d-none.d-md-block
                  .banner-text
                    h2 This is Heaven
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
              .carousel-item
                img.d-block.img-fluid(src='https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg' alt='First slide')
                .carousel-caption.d-none.d-md-block
                  .banner-text
                    h2 This is Heaven
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
              .carousel-item
                img.d-block.img-fluid(src='https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg' alt='First slide')
                .carousel-caption.d-none.d-md-block
                  .banner-text
                    h2 This is Heaven
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
