extends ../layout
block content
  section.login-block
    .container
      .row
        .col-md-4.login-sec
          h2.text-center Iniciar sesión
          form.login-form
            .form-group
              label.text-uppercase(for='exampleInputEmail1') Usuario
              input.form-control(type='text' placeholder='Introduzca aquí su usuario')
            .form-group
              label.text-uppercase(for='exampleInputPassword1') Contraseña
              input.form-control(type='password' placeholder='Introduzca aquí su contraseña')
            .form-check
              button.btn.btn-login.float-right(type='submit') Ingresar
              br
            a.fa.fa-facebook(href='/auth/facebook')
            a.fa.fa-twitter(href='/auth/twitter')
            a.fa.fa-google(href='/auth/google')
        .col-md-8.banner-sec
          #carouselExampleIndicators.carousel.slide(data-ride='carousel')
            ol.carousel-indicators
              li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
              li(data-target='#carouselExampleIndicators' data-slide-to='1')
              li(data-target='#carouselExampleIndicators' data-slide-to='2')
              li(data-target='#carouselExampleIndicators' data-slide-to='3')
              li(data-target'#carouselExampleIndicators' data-slide-to='4')
              li(data-target='#carouselExampleIndicators' data-slide-to='5')
            .carousel-inner(role='listbox')
              .carousel-item.active
                img.d-block.img-fluid(src='https://static.pexels.com/photos/33972/pexels-photo.jpg' alt='First slide')
                .carousel-caption.d-none.d-md-block
                  .banner-text
                    h2 This is Heaven
                    p
                      | Bienvenido a nuestro proyecto de SCRUM
              .carousel-item
                img.d-block.img-fluid(src='https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg' alt='First slide')
                .carousel-caption.d-none.d-md-block
                  .banner-text
                    h2 This is Heaven
                    p
                      | Bienvenido a nuestro proyecto de SCRUM
              .carousel-item
                img.d-block.img-fluid(src='https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg' alt='First slide')
                .carousel-caption.d-none.d-md-block
                  .banner-text
                    h2 This is Heaven
                    p
                      | Bienvenido a nuestro proyecto de SCRUM
              .carousel-item
                img.d-block.img-fluid(src='https://scontent.fntr6-1.fna.fbcdn.net/v/t1.0-9/10325627_725502094167916_7876188753502006748_n.jpg?_nc_cat=108&_nc_ht=scontent.fntr6-1.fna&oh=7b9f68bf76a0cc9d872b7fd425342a20&oe=5C67E65A' alt='First slide')
                .carousel-caption.d-none.d-md-block
                  .banner-text
                    h2 This is Aarón Martínez
                    p
                      | Bienvenido a nuestro proyecto de SCRUM
              .carousel-item
                img.d-block.img-fluid(src='https://scontent.fntr6-1.fna.fbcdn.net/v/t1.0-9/26239693_10212855505476476_52450741187910036_n.jpg?_nc_cat=108&_nc_ht=scontent.fntr6-1.fna&oh=6107b367ca769d598821e18bc1f6e91a&oe=5C76ECAB' alt='First slide')
                .carousel-caption.d-none.d-md-block
                  .banner-text
                    h2 This is Andrés Hernández
                    p
                      | Bienvenido a nuestro proyecto de SCRUM
              .carousel-item
                img.d-block.img-fluid(src='https://scontent.fntr6-1.fna.fbcdn.net/v/t1.0-9/29102149_1999792553367766_5196246472523537122_n.jpg?_nc_cat=104&_nc_ht=scontent.fntr6-1.fna&oh=7a0478114e1b0f796774389765aaf217&oe=5C76B427' alt='First slide')
                .carousel-caption.d-none.d-md-block
                  .banner-text
                    h2 This is Issack Ramírez
                    p
                      | Bienvenido a nuestro proyecto de SCRUM
