#editar.modal(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Editar Historia
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
          .form-group
            label.col-form-label(for='nombre') Nombre de la historia:
            input.form-control(type='text', id='nombre', name='nombre')
          .form-group
            input.form-control(hidden='true',type='text', id='projectId', name='projectId', value=projects._id)
          .form-group
            label.col-form-label(for='como') Como:
            textarea.form-control(id='como',name='como')
            label.col-form-label(for='quiero') Quiero:
            textarea.form-control(id='quiero',name='quiero')
          .form-group
            label.col-form-label(for='manera') De tal manera:
            textarea.form-control(id='manera',name='manera')
          .form-group
            label.col-form-label(for='dado') Dado:
            textarea.form-control(id='dado',name='dado')
          .form-group
            label.col-form-label(for='cuando') Cuando:
            textarea.form-control(id='cuando',name='cuando')
          .form-group
            label.col-form-label(for='entonces') Entonces:
            textarea.form-control(id='entonces',name='entonces')
      
          .form-group
            label.col-form-label(for= 'prioridad') Prioridad:
            select.form-control(id='prioridad', name='prioridad')
              option(value='1') 1
              option(value='2') 2
              option(value='3') 3
              
          .form-group
            label.col-form-label(for='hrsTrab') Horas trabajadas hoy:
            textarea.form-control(id='hrsTrab',name='hrsTrab')
          
          .form-group
            label.col-form-label(for= 'backlog') Cambiar de tablero:
            select.form-control(id='backlog', name='backlog')
              option(value='value +.1') Sprint 1
              option(value='value +.2') Sprint 2
              option(value='value +.3') Sprint 3
              
          .form-group
            label.col-form-label(for= 'terminado') ¿Historia terminada?:
            select.form-control(id='terminado', name='terminado')
              option(value='false') No
              option(value='true') Si
              
              
          
          .form-group
            input(hidden='true' id='hrsTrab' name='hrsTrab',value="0")
            input(hidden='true' id='backlog' name='backlog',value="0")
                             
          .form-group                 
            button.btn.btn-primary(type='button', @click='updatemiembro' data-dismiss='modal') Actualizar 
            button.btn.btn-secondary(type='button' data-dismiss='modal') Cerrar 
