#editar4.modal(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Editar Historia
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        .form-group
          label.col-form-label(for='nameid') Nombre de la historia:
          input.form-control(readonly,type='text', id='nameid', name='nameid')
        .form-group
          input.form-control(hidden='true',type='text', id='storieid', name='storieid')
        .form-group
          label.col-form-label(for='howid') Como:
          textarea.form-control(readonly,type='text',id='howid',name='howid')
        .form-group    
          label.col-form-label(for='wantid') Quiero:
          textarea.form-control(readonly,id='wantid',name='wantid')
        .form-group
          label.col-form-label(for='thatid') De tal manera:
          textarea.form-control(readonly,id='thatid',name='thatid')
        .form-group
          label.col-form-label(for='givenid') Dado:
          textarea.form-control(readonly,id='givenid',name='givenid')
        .form-group
          label.col-form-label(for='whenid') Cuando:
          textarea.form-control(readonly,id='whenid',name='whenid')
        .form-group
          label.col-form-label(for='thenid') Entonces:
          textarea.form-control(readonly,id='thenid',name='thenid')
    
        .form-group
          label.col-form-label(for= 'priorityid') Prioridad:
          select.form-control(id='priorityid', name='priorityid' v-model='prioridad')
              option(value='1') 1
              option(value='2') 2
              option(value='3') 3
              
        .form-group
          label.col-form-label(for='hrsTrab') Horas trabajadas hoy:
          input.form-control(type='number',id='hrsTrab',name='hrsTrab')
              
        .form-group
          label.col-form-label(for= 'finishedid') ¿Historia terminada?:
          select.form-control(id='finishedid', name='finishedid' v-model='terminada')
            option(value='false') No
            option(value='true') Si              
                  
        .form-group
          input(hidden='true' id='hrsTrabid' name='hrsTrabid',value="0")
          input(hidden='true' id='backlogid' name='backlogid',value="0")

                             
        .form-group                 
          button.btn.btn-primary(type='button', @click='updatehistoria' data-dismiss='modal') Actualizar 
          button.btn.btn-secondary(type='button' data-dismiss='modal') Cerrar 
