#myModal.modal(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Crear historia de usuario
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        form(action='/projects/add/stories/',method='POST')
          .form-group
            label.col-form-label(for='nombre') Nombre de la historia:
            input.form-control(type='text', id='nombre', name='nombre')
          .form-group
            input.form-control(hidden='true',type='text', id='projectId', name='projectId', value=projects._id)
          .form-group
            label.col-form-label(for='como') Como:
            textarea.form-control(id='como',name='como')
            label.col-form-label(for='quiero') Quiero:
            textarea.form-control(id='quiero',name='quiero')
          .form-group
            label.col-form-label(for='manera') De tal manera:
            textarea.form-control(id='manera',name='manera')
          .form-group
            label.col-form-label(for='dado') Dado:
            textarea.form-control(id='dado',name='dado')
          .form-group
            label.col-form-label(for='cuando') Cuando:
            textarea.form-control(id='cuando',name='cuando')
          .form-group
            label.col-form-label(for='entonces') Entonces:
            textarea.form-control(id='entonces',name='entonces')
      
          .form-group
            label.col-form-label(for= 'prioridad') Prioridad:
            select.form-control(id='prioridad', name='prioridad')
              option(value='1') 1
              option(value='2') 2
              option(value='3') 3
              
          .form-group
            label.col-form-label(for= 'tama単o') Tama単o:
            select.form-control(id='tama単o', name='tama単o')
              option(value='1') 1
              option(value='2') 2
              option(value='3') 3
              option(value='5') 5
              option(value='8') 8
              option(value='13') 13
              option(value='21') 21
              option(value='34') 34
              
              
            label.col-form-label(for= 'unidad') Tipo:
            select.form-control(id='unidad', name='unidad')
              option(value='hrs') horas
              option(value='dias') dias
              option(value='meses') meses
          .form-group
            input(hidden='true' id='hrsTrab' name='hrsTrab',value="0")
            input(hidden='true' id='backlog' name='backlog',value="0")
            input(hidden='true' id='terminado' name='terminado',value="false")
            
          
          .form-group
            input.btn.btn-primary(type='submit')
            button.btn.btn-secondary(type='button' data-dismiss='modal') Cerrar
